body{
    background-color: #cae8fa;
   }
   
   .navbar {
       background-color: lightslategray;
       overflow: hidden;
     }
     
     /* Style the links inside the navigation bar */
     .navbar a {
       float: left;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
       font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
     }
     
     /* Change the color of links on hover */
     .navbar a:hover {
       background-color: #ddd;
       color: black;
     }
     
     /* Add a color to the active/current link */
     .navbar a.active {
       background-color: #04AA6D;
       color: white;
     }
     
     .topnav input[type=text] {
       float: right;
       padding: 6px;
       border: none;
       margin-top: 8px;
       margin-right: 16px;
       font-size: 17px;
     }
     
     
     #details {
       font-size: 18px;
       margin-bottom: 20px;
     }
     
     table{
     border-color:darkblue;
     }
     
     h3{
       color:darkblue;
     }